@using UniversityContracts.ViewModels;
@model (ReportPlanViewModel model, int id)
@{
    ViewData["Title"] = "Отчёт по плану";
    Layout = "_Blank_Layout";
    if (ViewData["UnxpError"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                OpenBootstrapPopup();
            };
            function OpenBootstrapPopup() {
                $("#staticBackdrop").modal('show');
            }
        </script>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background: #ffb0b0;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="staticBackdropLabel">Ошибка</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @ViewData["UnxpError"]
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewData["Success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                OpenBootstrapPopup();
            };
            function OpenBootstrapPopup() {
                $("#staticBackdrop1").modal('show');
            }
        </script>
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background: #b5ffb0;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3" id="staticBackdropLabel">Выполнено</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @ViewData["Success"]
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- Loading page -->
<div class="modal fade" id="loadPage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<a class="btn btn-primary bth-find mt-4" role="button" asp-action="SavePlanReport" asp-route-messageId="@Model.id">Сохранить</a>
<a onclick="SetPageAsLoading()" class="btn btn-primary bth-find mt-4" role="button" asp-action="SendReportByMail" asp-route-messageId="@Model.id">Отправить на проверку</a>
<div class="container-sm" style="min-height: 100vh;">
    <h1 class="text-center m-4 fs-4 fw-bold">@Model.model.Title</h1>
    <div style="margin-bottom: 3%; margin-top: 3%">
        @foreach (var pn in Model.model.PlanName)
        {
            <h1 class="fs-5">@pn</h1>
        }
    </div>
    <table class="table table table-bordered border-dark border-3">
        <tr>
            @{
                <th class="text-center">№</th>
                <th class="text-center">№ з.к.</th>
                <th class="text-center">ФИО</th>
                for (int i = 0; i < Model.model.Items[0].Item3.Count(); i++)
                {
                    <th class="text-center">@Model.model.Items[0].Item3[i].Item1</th>
                }
            }
        </tr>
        @{
            int j = 0;
            foreach (var item in Model.model.Items)
            {
                j++;
                <tr>
                <td>@j</td>
                <td>@item.Item1</td>
                <td>@item.Item2</td>
                    @foreach(var grade in item.Item3)
                    {
                        <td class="text-end">@grade.Item2</td>
                    }
                </tr>
            }
            <tr>
                @foreach(var itog in Model.model.Itog)
                {
                    <td>@itog</td>
                }
            </tr>
        }
    </table>
    <div style="margin-bottom: 1%; margin-top: 5%">
        @foreach (var p in Model.model.Footer)
        {
            <p class="fs-5">@p</p>
        }
    </div>
    <a asp-action="Reports">Вернуться к сообщениям</a>
</div>

@section scripts {
    <script src="~/js/report.js"></script>
}